__pycache__/detector.cpython-311.pyc
__pycache__/spreadsheet.cpython-311.pyc
data/__pycache__/dataset.cpython-311.pyc
gui/__pycache__/add_card_dialog.cpython-311.pyc
gui/__pycache__/gui.cpython-311.pyc
test.py
sheets_crendentials.json
